{
    "api": "http://api.servioticy.com",
    "mqtt": {
        "url": "mqtt://api.servioticy.com:1883",
        "user": "compose",
        "password": "shines",
        "topicFrom": null
    },
    "debug": false,
    "logFile": null,
    "logLevel": "warn",
    "consoleLogLevel": "verbose"

}
